<main>
  <h1>User Directory</h1>
  <p class="status" *ngIf="isLoading">Loading users from Postgres...</p>
  <p class="status" *ngIf="errorMessage">{{ errorMessage }}</p>

  <table *ngIf="!isLoading && !errorMessage">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</main>
